
.day-schedule {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
  }
  
  td {
    font-size: 1rem;
    color: #555;
  }
  

  
 
  .button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  
  button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
  }
  
  button.active {
    background-color: #205a23; 
  }
  
  button:focus {
    outline: none; 
  }
  
  @media (max-width: 768px) {
    button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  